.container {
  text-align: center;
  padding: 1em;
}

table {
  width: 100%;
  text-align: left;
}

.counter {
  margin-bottom: 20px;
}

.buttons {
  margin-bottom: 20px;
  button {
    margin: 4px !important;
  }
}

// hide column visually but keep it in the DOM to be exported
.mat-column-playlistUrl {
  display: none;
}
