<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-actions>
        <div class="buttons">
          <button mat-raised-button color="accent" [disabled]="isLoading" (click)="openAddDialog()">
            ADD PLAYLISTS
          </button>
          <button
            *ngIf="isLoading; else stop"
            mat-raised-button
            color="primary"
            (click)="stopUpdate()"
            [disabled]="!isStoppable"
          >
            STOP REFRESH
          </button>
          <ng-template #stop>
            <button mat-raised-button color="primary" (click)="updatePlaylists()">REFRESH</button></ng-template
          >

          <button
            mat-raised-button
            color="primary"
            [disabled]="isLoading"
            (click)="exporter.exportTable('xlsx', { fileName: 'Playlist analysis - ' + Utils.now() })"
          >
            EXPORT
          </button>
        </div>

        <app-output></app-output>

        <mat-form-field class="filter" appearance="fill">
          <mat-label>Filter table</mat-label>
          <input matInput (keyup)="applyFilter()" placeholder="Filter by any column" [(ngModel)]="filterValue" />
          <button
            *ngIf="filterValue"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="filterValue = ''; applyFilter()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <table
          mat-table
          #table
          matSort
          [dataSource]="playlists"
          cdkDropList
          (cdkDropListDropped)="reorderTable($event)"
          (matSortChange)="sortChange($event)"
          [matSortActive]="matSortActive"
          [matSortDirection]="matSortDirection"
          matTableExporter
          #exporter="matTableExporter"
          [hiddenColumns]="[0, 1, 3, 5, 8]"
          class="mat-elevation-z1"
        >
          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="reorder">
            <th mat-header-cell style="width: 80px" *matHeaderCellDef>Reorder</th>
            <td mat-cell *matCellDef="let position">
              <mat-icon class="grabbable" color="accent" cdkDragHandle [ngClass]="{ disable: isDragDisabled() }"
                >reorder</mat-icon
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell style="width: 42px" *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let index = index">{{ index + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Playlist Name</th>
            <td mat-cell *matCellDef="let element">
              <a
                target="_blank"
                color="primary"
                target="_blank"
                rel="noopener noreferrer"
                class="no-decoration"
                [href]="element.playlistUrl"
                >{{ element.name ? element.name : '# MISSING NAME #' }}</a
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
            <td mat-cell *matCellDef="let element">
              <a
                target="_blank"
                color="primary"
                target="_blank"
                rel="noopener noreferrer"
                class="no-decoration"
                [href]="element.authorUrl"
                >{{ element.author ? element.author : '# MISSING AUTHOR #' }}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="followersCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Followers</th>
            <td mat-cell *matCellDef="let element">{{ element.followersCount }}</td>
          </ng-container>

          <ng-container matColumnDef="tracksCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tracks</th>
            <td mat-cell *matCellDef="let element">{{ element.tracksCount }}</td>
          </ng-container>

          <ng-container matColumnDef="playlistUrl">
            <th mat-header-cell *matHeaderCellDef>Spotify URL</th>
            <td mat-cell *matCellDef="let element">{{ element.playlistUrl }}</td>
          </ng-container>

          <!-- <ng-container matColumnDef="lastFetch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Fetch</th>
            <td mat-cell *matCellDef="let element">{{ element.lastFetch | date }}</td>
          </ng-container> -->

          <ng-container matColumnDef="lastUpdate">
            <th mat-header-cell style="width: 100px" *matHeaderCellDef mat-sort-header>Last Update</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="Utils.isValidDate(element.lastUpdate); else invalid">
                {{ element.lastUpdate | date : 'dd/MM/yyyy' }}</span
              >
              <ng-template #invalid>- Unknown -</ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell style="width: 15px" *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <button *ngIf="!isLoading" mat-icon-button color="accent" (click)="deletePlaylist(element)">
                <mat-icon>delete</mat-icon>
              </button>
              <app-loader *ngIf="isLoading" class="inline-loader" [isLoading]="isLoading"></app-loader>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            cdkDrag
            [cdkDragData]="row"
            [cdkDragDisabled]="isDragDisabled()"
          ></tr>
        </table>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
