/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

// dragging preview
.cdk-drag-preview {
  background: gray;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.3;
  * {
    opacity: 0;
  }
}

.mat-card {
  background-color: rgba(0, 0, 0, 0.05);
}

.mat-table {
  border-radius: 8px;
  overflow: hidden !important;
}

// grab mouse cursor
.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.disable:hover {
  cursor: not-allowed;
}
.disable:active {
  pointer-events: none;
}
mat-icon.disable {
  filter: opacity(0.4);
}

app-output {
  display: block;
}

.filter {
  display: block;
  margin: auto;
  max-width: 800px;
  // min-height: 200px;
  width: 100%;
  mat-form-field {
    width: 100%;
  }
}

a.no-decoration {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: mat-color($app-primary);
  }
}

// separate multiple elements in a table cell
.multiple {
  padding: 8px;
}
