/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

// dragging preview
.cdk-drag-preview {
  background: gray;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.3;
  * {
    opacity: 0;
  }
}

.mat-card {
  background-color: rgba(0, 0, 0, 0.05);
}

.mat-table {
  border-radius: 8px;
  overflow: hidden !important;
}

// grab mouse cursor
.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
