<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-actions>
        <div class="buttons">
          <button mat-raised-button color="accent" [disabled]="isLoading" (click)="addPlaylists()">
            {{ 'ADD PLAYLISTS' }}
          </button>
          <button mat-raised-button color="accent" [disabled]="isLoading" (click)="addTracks()">
            {{ 'ADD TRACKS' }}
          </button>
          <button
            *ngIf="isLoading; else stop"
            mat-raised-button
            color="primary"
            (click)="stopUpdate()"
            [disabled]="!isStoppable"
          >
            {{ 'STOP REFRESH' }}
          </button>
          <ng-template #stop>
            <button mat-raised-button color="primary" (click)="refresh()">
              {{ 'REFRESH' }}
            </button></ng-template
          >
        </div>

        <app-output></app-output>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Playlist editor</mat-panel-title>
              <mat-panel-description>Total Playlists: {{ playlists.length }}</mat-panel-description>
            </mat-expansion-panel-header>

            <table
              mat-table
              #playlistsTable
              [dataSource]="playlists"
              cdkDropList
              (cdkDropListDropped)="reorderPlaylists($event)"
            >
              <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

              <ng-container matColumnDef="reorder">
                <th mat-header-cell style="width: 80px" *matHeaderCellDef>Reorder</th>
                <td mat-cell *matCellDef="let position">
                  <mat-icon class="grabbable" color="accent" cdkDragHandle>reorder</mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="position">
                <th mat-header-cell style="width: 42px" *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let index = index">{{ index + 1 }}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                  <a
                    target="_blank"
                    color="primary"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="no-decoration"
                    [href]="element.playlistUrl"
                    >{{ element.name }}</a
                  >
                </td>
              </ng-container>

              <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef>Author</th>
                <td mat-cell *matCellDef="let element">
                  <a
                    target="_blank"
                    color="primary"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="no-decoration"
                    [href]="element.authorUrl"
                    >{{ element.author }}</a
                  >
                </td>
              </ng-container>

              <ng-container matColumnDef="followers">
                <th mat-header-cell *matHeaderCellDef>Followers</th>
                <td mat-cell *matCellDef="let element">{{ element.followersCount }}</td>
              </ng-container>

              <ng-container matColumnDef="tracks">
                <th mat-header-cell *matHeaderCellDef>Tracks</th>
                <td mat-cell *matCellDef="let element">{{ element.tracksCount }}</td>
              </ng-container>

              <ng-container matColumnDef="lastFetch">
                <th mat-header-cell *matHeaderCellDef>Last Fetch</th>
                <td mat-cell *matCellDef="let element">{{ element.lastFetch | date : 'dd/MM/yyyy' }}</td>
              </ng-container>

              <ng-container matColumnDef="lastUpdate">
                <th mat-header-cell *matHeaderCellDef>Last Update</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="Utils.isValidDate(element.lastUpdate); else invalid">
                    {{ element.lastUpdate | date : 'dd/MM/yyyy' }}</span
                  >
                  <ng-template #invalid>- Unknown -</ng-template>
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell style="width: 15px" *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let element">
                  <button *ngIf="!isLoading" mat-icon-button color="accent" (click)="deletePlaylist(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <app-loader *ngIf="isLoading" class="inline-loader" [isLoading]="isLoading"></app-loader>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="playlistColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: playlistColumns"
                cdkDrag
                [cdkDragData]="row"
                [cdkDragDisabled]="isLoading"
              ></tr>
            </table>
          </mat-expansion-panel>
        </mat-accordion>

        <br />

        <table
          mat-table
          #tracksTable
          [dataSource]="tracks"
          cdkDropList
          (cdkDropListDropped)="reorderTracks($event)"
          class="mat-elevation-z1"
        >
          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

          <ng-container matColumnDef="reorder">
            <th mat-header-cell style="width: 80px" *matHeaderCellDef>Reorder</th>
            <td mat-cell *matCellDef="let position">
              <mat-icon class="grabbable" color="accent" cdkDragHandle>reorder</mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell style="width: 42px" *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let index = index">{{ index + 1 }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              <a
                target="_blank"
                color="primary"
                target="_blank"
                rel="noopener noreferrer"
                class="no-decoration"
                [href]="element.external_urls.spotify"
              >
                {{ element.name }}
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="artists">
            <th mat-header-cell *matHeaderCellDef>Author</th>
            <td mat-cell *matCellDef="let element">
              <div class="multiple" *ngFor="let artist of element.artists">
                <a
                  target="_blank"
                  color="primary"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="no-decoration"
                  [href]="artist.external_urls.spotify"
                >
                  {{ artist.name }}
                </a>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="featured">
            <th mat-header-cell *matHeaderCellDef>Featured on</th>
            <td mat-cell *matCellDef="let element">
              <div class="multiple" *ngFor="let playlist of element.featuredOn">
                <a
                  target="_blank"
                  color="primary"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="no-decoration"
                  [href]="playlist.playlistUrl"
                >
                  <strong> {{ playlist.name }}</strong> (<strong>#{{ playlist.trackPosition }}</strong> of
                  {{ playlist.tracksCount }})
                  <i style="opacity: 0.5"> - added at {{ playlist.trackAddedAt | date : 'dd/MM/yyyy HH:mm' }}</i>
                </a>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell style="width: 15px" *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element">
              <button *ngIf="!isLoading" mat-icon-button color="accent" (click)="deleteTrack(element)">
                <mat-icon>delete</mat-icon>
              </button>
              <app-loader *ngIf="isLoading" class="inline-loader" [isLoading]="isLoading"></app-loader>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="trackColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: trackColumns"
            cdkDrag
            [cdkDragData]="row"
            [cdkDragDisabled]="isLoading"
          ></tr>
        </table>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
